html {
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
}

header {
  display: flex;
  background-image: url("img/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 655.62;
  opacity: 1;
  color: white;
  flex-direction: column;
  border: white 4px solid;
}

header p {
  color: #ffffff;
}
nav {
  display: flex;
  margin-right: 125px;
  margin-top: 108px;
  opacity: 1;
  border: 93b5b3 5px solid;
  justify-content: flex-end;
}

nav a {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: white 3px solid;
  display: inline-block;
  opacity: 1;
  text-align: center;
  padding-top: 20px;
  margin-left: 10px;
}

.circle {
  display: flex;
  justify-content: flex-end;
}
.circle img {
  border-radius: 50%;
  border: white 4px solid;
  width: 332.65px;
  height: 332.65px;
  object-fit: cover;
  margin-right: 125px;
  margin-bottom: -35px;
  justify-content: flex-end;
}

.intro {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.header-pres {
  padding-left: 125px;
}

p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  color: #2b2b28;
  opacity: 1;
  line-height: 1.5;
  font-size: 30px;
  font-weight: lighter;
}

h1 {
  font-size: 83px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

h2 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
}

h4 {
  background-color: #f1d6ab;
  display: inline;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  margin-right: 20px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 125px 125px;
  background-color: #f8f8f8;
}

section h1 {
  align-self: center;
  color: #ffffff;
  background-color: #f1d6ab;
  margin-bottom: 50px;
  font-size: 48px;
}

section h2 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #e3b04b;
  padding-bottom: 10px;
  display: inline;
}

.presentation {
  background-color: #f8f8f8;
}

.tech {
  background-color: #ffffff;
}

.projects {
  background-color: #f8f8f8;
}
.box-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}

.box-container div {
  width: 47%;
}
.project-rows p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  color: #2b2b28;
  opacity: 1;
  line-height: 1.5;
  font-size: 25px;
  display: inline;
}

.box-container p,
li p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
  color: #2b2b28;
  opacity: 1;
  font-size: 25px;
  display: inline;
}

ul {
  line-height: 2;
}

.other-projects h1,
footer h1 {
  color: #e3b04b;
  background-color: #f8f8f8;
  font-size: 38px;
  text-align: center;
}

.project-rows {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0px;
}

ul {
  list-style: none;
  width: 30%;
}
.skills {
  background-color: white;
}

.skills div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}
footer,
footer p {
  background-color: #2b2b28;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

footer h1 {
  color: white;
  padding: 38px;
  background-color: #2b2b28;
  padding-top: 124px;
}

@media (max-width: 667px) {
  header {
    height: 500px;
    align-items: flex-start;
  }

  nav {
    opacity: 1;
    border: 93b5b3 5px solid;
    margin: 20px;
    padding-top: 80px;
  }

  .circle {
    margin: 0px;
    padding: 0px;
  }

  .circle img {
    width: 162px;
    height: 162px;
    align-self: center;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 11px;
    margin-right: 10px;
  }

  .header-pres {
    padding-left: 41px;
  }

  .presentation,
  .tech,
  .projects,
  .skills {
    /* flex-wrap: wrap; */
    padding: 58px 36.5px;
  }

  p {
    font-size: 17px;
    font-weight: lighter;
  }

  section h1 {
    margin-bottom: 38px;
    font-size: 22px;
  }
  section h2,
  .box-container p,
  li p {
    /* margin-bottom: 38px; */
    font-size: 17px;
  }

  footer h1 {
    font-size: 28px;
    padding: 38px;
    background-color: #2b2b28;
  }

  .box-container p,
  li p {
    line-height: 1;
  }
}
